@{
    Layout = null; // Esto evita que utilices un diseño predeterminado si lo tienes configurado
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script> *@
    <link rel="stylesheet" href="~/css/Cliente css/stili.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <div class="contenedor-form">
        <div id="usuarioContainer">
                <input type="hidden" name="user-type" value="Usuario">
                <div class="header">
                    <a class="selected" data-user-type="Usuario">USUARIO</a>
                </div>

                <hr>
                <div class="fila">
                    <label for="Email">Email</label>
                    @Html.TextBox("Email", null, new { id = "Email" })
                </div>
                <div class="fila">
                    <label for="Clave">Contraseña</label>
                    @Html.Password("Clave", null, new { id = "Clave" })
                </div>
                <div class="fila">
                    <input type="checkbox" class="check" id="mantener-sesion" name="mantener-sesion">
                    <label for="mantener-sesion">Mantener Sesión</label>
                </div>
                <input type="submit" value="Iniciar Sesión" class="btn">
            <p><a href="@Url.Action("RegistroUsuario", "Registro")">¿No tienes una cuenta? Regístrate aquí como Usuario.</a></p>
        </div>

        <!-- Repeat the above pattern for Fotografo and Administrador containers -->

        <hr>

        <p>¿Eres fotógrafo? <a href="@Url.Action("IniciarSesionFotografo", "Home")">Iniciar Sesión Como Fotógrafo</a></p>
        <p>¿Eres Administrador? <a href="@Url.Action("IniciarSesionAdministrador", "Home")">Iniciar Sesión Como Administrador</a></p>

        <a href="#olvido" class="olvido">Olvidó la Contraseña</a>
    </div>

    <script src="~/js/script.js"></script>
    

</body>
</html>
