@{
    Layout = null; // Esto evita que utilices un diseño predeterminado si lo tienes configurado
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <div class="contenedor-form">
        @using (Html.BeginForm("IniciarSesionAdministrador", "Home", FormMethod.Post))
        {
            <input type="hidden" name="user-type" value="Administrador">
            <div class="header">
                @* <a href="#" data-user-type="Usuario">USUARIO</a>

                <a href="#" data-user-type="Fotografo">FOTOGRAFO</a> *@
                @* <a href="@Url.Action("IniciarSesionFotografo", "Home")" data-user-type="Fotografo">FOTOGRAFO</a> *@


                <a href="#" class="selected" data-user-type="Administrador">ADMINISTRADOR</a>
            </div>

            <hr>

            <div class="fila">
                <label for="usuario">Usuario de Administrador</label>
                @Html.TextBox("usuario", null, new { id = "usuario" })
            </div>

            <div class="fila">
                <label for="contraseña">Contraseña</label>
                @Html.Password("contraseña", null, new { id = "contraseña" })
            </div>

            <div class="fila">
                <input type="checkbox" class="check" id="admin-mantener-sesion" name="mantener-sesion">
                <label for="admin-mantener-sesion">Mantener Sesión</label>
            </div>

            <input type="submit" value="Iniciar Sesión" class="btn">
        }



    <!-- Repeat the above pattern for Usuario and Fotografo containers -->

    <hr>

    <p>¿Eres fotógrafo? <a href="@Url.Action("IniciarSesionFotografo", "Home")">Iniciar Sesión Como Fotógrafo</a></p>
    <p>¿Eres un Usuario/Cliente? <a href="@Url.Action("IniciarSesionUsuario", "Home")">Iniciar Sesión Como Usuario/Cliente</a></p>
    <a href="#olvido" class="olvido">Olvidó la Contraseña</a>

    </div>
    <script src="~/js/script.js"></script>
</body>
</html>